<div class="calculator">
  <mat-card color="accent" class="calculator-keys">


    <mat-label type="text" class="results">{{ equation }}</mat-label>

    <button mat-button color="primary" (click)=addNumber(1)>1</button>
    <button mat-button color="primary" (click)=addNumber(2)>2</button>
    <button mat-button color="primary" (click)=addNumber(3)>3</button>
    <button mat-button class="operator" (click)="addNumber('+')">+</button>

    <button mat-button color="primary" (click)=addNumber(4)>4</button>
    <button mat-button color="primary" (click)=addNumber(5)>5</button>
    <button mat-button color="primary" (click)=addNumber(6)>6</button>
    <button mat-button class="operator" (click)="addNumber('-')">-</button>

    <button mat-button color="primary" (click)=addNumber(7)>7</button>
    <button mat-button color="primary" (click)=addNumber(8)>8</button>
    <button mat-button color="primary" (click)=addNumber(9)>9</button>
    <button mat-button class="operator" (click)="addNumber('*')">&times;</button>

    <button mat-button class="zero" color="primary" (click)=addNumber(0)>0</button>
    <button mat-button class="dot" color="primary" (click)="addNumber('.')">.</button>
    <button mat-button class="operator" (click)="addNumber('/')">&divide;</button>

    <button mat-button class="equals" (click)=calculate()>=</button>
    <button mat-button color="warn" class="clear" (click)=clear()>AC</button>

  </mat-card>
</div>